.App {
  text-align: center;
  margin : 0 auto;
}

.header{
  color:rgb(255, 115, 0);
}

.Button{
  border: 2px solid gray;
  background-color: green;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  color: white;
  margin-left:10px;
}

.Button:hover{
  background-color: darkgreen;
  border:2px solid darkgray;
}

.blue{
  color:blue;
}

.bold{
  font-weight:bold;
}

.font{
  font-size:40px;
}

.Button .Red{
  background-color: red;
}

.Button .Red:hover{
  background-color: orangered;
}