/* .personDetails{
    color:blue;
    border:2px solid grey;
    margin:16px auto;
    padding:5px;
    width:50%;
} 

@media (min-width : 500px) {
    .personDetails{
       width : 450px;        
    }
} */
